!!!
%html
  %head
    %title wiki - login
    :css
      body { 
        font-family: 'Helvetica'; 
        color: #111; 
        font-weight: 300; 
      }
      .box {
        width: 400px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -80%);
        background: #EEE;
        padding: 15px;
        box-sizing: border-box;
      }
      h1 {
        margin: 0px 0px 10px 0px;
        font-weight: 300;
        font-size: 24px;
      }
      input {
        display: block;
        width: 100%;
        margin-bottom: 5px;
        font-family: 'Helvetica'; 
        font-weight: 300; 
        font-size: 18px;
        padding: 5px;
        box-sizing: border-box;
        outline: none;
      }

      input[type=submit] {
        background: #00B4FF;
        border: 0px;
        color: #FFF;
        margin-bottom: 0px;
      }

  %body
    %pre
      = "current: #{session[:auth]} actual: #{@accepted_token}"
    .box
      %h1 Login
      - if @error
        %p Your shit sucked

      %form{action:'/login', method: 'POST'}
        %input{type: 'text', placeholder: 'Username', name: 'user'}
        %input{type: 'password', placeholder: 'Password', name: 'pass'}
        %input{type: 'number', placeholder: 'Auth code', name: 'auth'}
        %input{type: 'submit', value: 'Login'}
